.results-container {
    width: 60vw;
    margin: 0 auto;
}

.recommendations-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.recommendations-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(64, 64, 95);
    color: white;
}

.recommendations-table td, .recommendations-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.recommendations-table tbody:nth-child(even) {
    background-color: rgb(218, 218, 218);
}

.recommendations-table tr:hover {
    background-color: rgba(64, 64, 95, 0.507);
}