.algorithm-selector-container {
    width: 50%;
    margin: 0 auto;
}

.algorithm-selector-label {
    text-align: center;
}

.algorithm-selector-select {
    display: block;
    margin: 10px auto;
}

.algorithm-selector-extra-container {
}

.algorithm-selector-extra {
    background-color: rgb(64, 64, 95);
    padding: 2px 10px;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.algorithm-selector-extra h4 {
    color: white;
}

.algorithm-selector-extra p {
    color: white;
    font-style: italic;
}