.searchbar-container {
    position: relative;
    width: 20vw;
    min-width: 10vw;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
}

.searchbar-input {
    position: relative;
    height: 40px;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(216, 223, 223);
}

.searchbar-list {
    position: absolute;
    top: 40px;
    width: 100%;
}

.searchbar-list-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    color: rgb(0, 0, 0);
    border-color: rgb(216, 223, 223);
    background-color: rgb(255, 255, 255);
    border: none;
}

.searchbar-list-item:hover {
    background-color: rgb(100, 118, 146);
    color: rgb(255, 255, 255);
}

.searchbar-list-item-symbol-name-container {
    width: 100%;
}

.searchbar-list-item-symbol {
    font-size: 20px;
}

.searchbar-list-item-name {
    font-size: 12px;
}

.searchbar-list-item-price {
    font-size: 32px;
}