.timewindow-container {
    width: 50vw;
    display: flex;
    padding: 20px 0px 20px 0px;
    margin: 0 auto;
}

.timewindow__btn {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    border-style: none;
    border-radius: 50%;
    background: 0%
}

.timewindow__btn--selected {
    background: 0% rgb(64, 64, 95);
    color: white;
}