.main-container {
    background-color: #FAFAFA;
    min-height: 100vh;
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-container-header {
    width: 100%;
    height: 100px;
    text-align: center;
    color: rgb(64, 64, 95);
}

.children-container {
    margin: 0 auto;
    width: 80vw;
}